/* Estilos generales */
body {
  background-color: #eafaf1; /* Verde pastel claro */
  color: #5d5d5d; /* Gris para el texto */
  font-family: 'Arial', sans-serif;
}

/* Navegación */
nav.navbar {
  background-color: #cde8d1; /* Verde pastel */
  border-bottom: 2px solid #a2d4af; /* Borde más oscuro */
}

nav a.navbar-brand {
  color: #5d5d5d;
  transition: color 0.3s ease;
}

nav a.navbar-brand:hover {
  color: #3a5f41; /* Verde oscuro para hover */
}

/* Carrusel */
.carousel-inner {
  border: 5px solid #cde8d1; /* Borde verde pastel */
}

.carousel-caption {
  background-color: rgba(205, 232, 209, 0.75); /* Fondo con transparencia */
}

.carousel-caption h5 {
  color: #3a5f41; /* Verde oscuro para los títulos */
}

.carousel-caption p {
  color: #5d5d5d;
}

.carousel-caption a.btn-primary {
  background-color: #a2d4af; /* Botón verde pastel */
  border: none;
}

.carousel-caption a.btn-primary:hover {
  background-color: #8cbf99; /* Botón verde pastel al pasar el mouse */
}

/* Pie de página */
footer {
  background-color: #cde8d1;
  padding: 10px 0;
  text-align: center;
}

footer h5 {
  color: #5d5d5d;
}

/* Estilos específicos de la galería de imágenes */
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
}

.gallery img {
  width: 100%;
  height: auto;
  cursor: pointer;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.modal-img {
  max-width: 90%;
  max-height: 90%;
}
